# gradle

.gradle/
build/
out/
classes/

# eclipse

*.launch

# idea

.idea/
*.iml
*.ipr
*.iws

# vscode

.settings/
.vscode/
bin/
.classpath
.project

# macos

*.DS_Store

# fabric

run/

# java

hs_err_*.log
replay_*.log
*.hprof
*.jfr

# custom mod textures
mod textures
mod models

#generated all the generated stuff cuz why the hell not remake it every time you fetch like bruh we lightweight up in here
src/main/generated